* {
  transition: all var(--transition-duration) ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header.hidden {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  transition: transform 0.3s ease;
  width: 100%;
  padding: 1rem 1.5rem;
  background: var(--color-primary);
  min-height: 3.25rem;
  border-bottom: 0.1rem solid #00000010;
  z-index: 1001;
  display: grid;
  -webkit-backdrop-filter: blur(
    0.625rem
  ); /* Add blur effect for firefox and safari*/
  backdrop-filter: blur(0.625rem);
  background-color: rgba(255, 255, 255, 0.5);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo . burger";
}

.header-logo {
  /* grid placement */
  grid-area: logo;
  width: 4.25rem;
  justify-self: start;
  mix-blend-mode: multiply;
  object-fit: fill;
  padding-left: 1rem;
  /* font styling */
  text-decoration: none;
  /* positioning */
  margin: 0;
  position: static;
  transform: none;
  /* animation */
  transform: translateX(-50%);
}
/* burger styling below */
.menu-icon {
  grid-area: burger;
  display: flex;
  justify-self: end;
  align-self: center;
  flex-direction: column;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .header__nav {
  display: flex;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

#menu-toggle:checked + .menu-icon .bar:nth-child(2) {
  opacity: 0;
}
.bar {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: var(--color-text);
  margin: 0.25rem 0;
  transition: 0.4s;
}

#menu-toggle:checked + .menu-icon .bar:nth-child(3) {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}
