/* General styles */
* {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
.header {
  position: fixed;
  width: 100%;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.625rem);
  min-height: 3.25rem;
  border-bottom: 0.1rem solid #00000010;
  z-index: 1001;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo . burger";
  transition: transform 0.3s ease;
}

.header-logo {
  grid-area: logo;
  width: 3.25rem;
  justify-self: start;
  mix-blend-mode: multiply;
  object-fit: fill;
  padding-left: 1rem;
}

/* Burger icon styles */
.menu-icon {
  grid-area: burger;
  display: flex;
  justify-self: end;
  align-self: center;
  flex-direction: column;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu-icon .bar:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
#menu-toggle:checked ~ .menu-icon .bar:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked ~ .menu-icon .bar:nth-child(3) {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.bar {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: var(--color-text);
  margin: 0.25rem 0;
  transition: 0.4s;
}

/* Sidebar styles */
app-side-bar {
  position: fixed;
  top: 100%;
  right: 0;
  height: 100dvh;
  width: 12rem;
  background-color: white;
  transform: translateX(100%);
  border: 1px solid var(--color-border);
  z-index: 1000;
}

#menu-toggle:checked ~ app-side-bar {
  transform: translateX(0);
}
