<!-- dashboard-header.component.html -->
<header class="header">
  <input
    type="checkbox"
    id="menu-toggle"
    class="menu-toggle"
    aria-label="Toggle menu"
  />
  <label for="menu-toggle" class="menu-icon" tabindex="0">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <img
    loading="lazy"
    src="../../../assets/header/1st-logo.png"
    alt="1st-green-home"
    class="header-logo"
    routerLink="/home"
  />
</header>
<section class="navbar"></section>
