* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

img {
  width: 2rem;
  height: 2rem;
  color: var(--color-border);
}

a {
  font-family: var(--font-light);
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.625rem;
  padding-top: 0.5rem;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
}

.side-row + .side-row {
  border-top: 1px solid var(--color-border);
  margin-top: 1rem;
  padding-top: 1rem;
}

.side-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.side-row:hover {
  transform: scale(1.05);
  background-color: var(--color-border);
  border-radius: .25rem;
}

