* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host {
  --color-text: #313134;
  --color-border: #e0e0e0;
  --color-primary: #2e7d32;
  --color-secondary: #81c784;
  --color-white: white;
  --font-light: "Avenir Book";
  --font-regular: "Avenir Black";
  --font-bold: "Avenir Bold";
  --transition-duration: 0.3s;
  --fade-in-duration: 0.75s;
  --shadow-card: -15px 15px 26px #bfc5cd, 15px -15px 26px #ffffff;
  --shadow-img: drop-shadow(-12px 12px 20px #c6ccd5)
    drop-shadow(12px -12px 20px #ffffff);
}

:host(app-root) {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Header */
app-header {
  grid-area: header;
}

app-footer {
  grid-area: footer;
}
/* Main content area */
.main {
  grid-area: main;
  scroll-behavior: smooth;
  animation: fadeInUp var(--fade-in-duration) ease-out forwards;
  transition: all var(--transition-duration) ease;
}
/* 
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* h1 font */
@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/avenir-heavy.ttf") format("truetype");
}

/* h2 font */
@font-face {
  font-family: "Avenir Black";
  src: url("../assets/fonts/avenir-black.ttf") format("truetype");
}

/* p tag font */
@font-face {
  font-family: "Avenir Book";
  src: url("../assets/fonts/avenir-book.ttf") format("truetype");
}
