<footer class="footer">

  <div class="container">

    <div class="about">
      <img src="../../../assets/header/1st-logo.png" alt="1st-green-home" class="footer-logo" routerLink="/home">
      <div class="about-text">
        <h1>About</h1>
        <p>1st Green Home is an energy efficiency firm in MD that has one simple mission: to help lower energy usage.
          We are committed to providing services to save energy in residential and commercial properties.</p>
      </div>
    </div>

    <div class="contact">
      <h1>Contact Us</h1>
      <p>info&#64;1stgreenhome.com</p>
      <p>10630 Riggs Hill Rd. Unit A<br />Jessup, MD 20794</p>
      <p>(443) 216-9169</p>
    </div>

    <div class="links">
      <h1>Links</h1>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
    </div>
    

  </div>
  <div class="copyright">
    <p>&copy; 2024, 1st Green Home. All Rights Reserved</p>
  </div>
</footer>
